* {
    margin:0;
    box-sizing: border-box;
}
body{
    font: 15px/1.5 Arial;
}
/*头部*/
header{
    width:100%;
    background: url(../imgs/bkg1.jpg) center center no-repeat;
    background-size: cover;
}
.navbar{
    display:flex;
    align-items: center;
    height:155px;
}
.navbar img{
    height:150px;
    margin-left:2rem;
    margin-top:1rem;
    border-radius: 47%;
}
.navbar nav{
    margin-left: auto;
    margin-top: -70px;
    margin-right:10px;
}
.navbar nav > a{
    text-decoration: none;
    color:#505050;
    margin-left:20px;
}
.navbar nav > a:hover{
    color:#336699;
}
header .detail{
    margin-top:10px;
    height: 400px;
}
header h1{
    margin-left:90px;
    font-size:3.5rem;
    color:#666;
}
header p{
    color:#505050;
    margin-top:30px;
    margin-left:90px; 
    font-size:20px;
}
header .action{
    margin-bottom:10px;
    text-align:center;
}
header .action img{
    width: 30px;
    height: 32px;
}
/*开源项目和作品*/

main.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:980px;
    margin: 0 auto;
}
main h1{
    font-size:3.5rem;
    color:#666;
    margin-top:30px;
    text-align: center;
}
main section.project{
    display:flex;
    flex-direction: column;
    max-width:980px;
    margin-top:20px;
}
main section .description {
    flex:1;
    margin: 0.8rem;
}
main section .imgshow {
    display: flex;
}
/* pikachu */
main section.pikachu .main{
    flex:2;
    margin-right:1rem;
}
main section.pikachu .main img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
main section .aside{
    flex:1;
    display:flex;
    flex-direction: column;
}
main section .aside img{
    flex:1;
    width:100%;
    height:235px;
    object-fit: cover;
}
main section .aside img:first-child{
    border-radius: 0 8px 0 0;
}
main section .aside img:last-child{
    border-radius: 0 0 8px 0;
}
/* nav */
main section.nav img{
    border-radius: 8px;
    width:100%;
    height:100%;
    object-fit: cover;
}
/* take-out-client、social、cloud-class */
main section.miniapp .imgshow {
    display: flex;
    flex-direction: row;
}
main section.miniapp img{
    flex:1;
    width:24%;
    height:24%;
    object-fit: cover;
}
main section.miniapp img:not(last-child){
    margin-right:0.3rem;
}
main section.miniapp img:first-child{
    border-radius: 4px 0 0 4px;
}
main section.miniapp img:last-child{
    border-radius: 0 4px 4px 0;
}

/* 页尾 */
footer{
    background-color: #777;
    padding:20px 0;
    margin-top: 20px;
}
footer li{
    display:flex;
    align-items: center;
    margin-top:10px;
}
footer img{
    width:20px;
    margin-right:10px;
}
footer ul li a{
    color:#336699;
}

/* 移动端适配 */
@media only screen and (max-width: 768px) {
    header {
      padding-top: 20px;
      padding-bottom: 90px;
    }
    header h1{
      margin-top:-30px;
      font-size: 2.5rem;
    }
    header p{  
        margin-top:0px;
        font-size:16px;
    }
    .navbar img {
      height: 100px;
      margin-top:0;
      margin-left:50px;
    }
    main {
        background:transparent;
    }
    header .action{
      margin-bottom:-80px;
      text-align:center;
    }
    main h1{
      font-size:2.3rem;
    }
    main section{
      margin-left:1rem;
      margin-right:1rem;
      flex-direction: column;
    }
    main section .main{
      width:100%;
    }
    main section .aside{
        width:100%;
      }
} 