* {
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font: 14px/1.5 Arial;
    color: #666;
    background: #efefef;
    font-family:"Times New Roman",Georgia,Serif;
}
#page{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.layout{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color:#5c99ca;
}
a:hover{
    color:#3300FF;
}
header{
    background: #3c3c3c;
    width: 100%;
    text-align: center;
    padding: 15px 0 10px 0;
    color:#efefef;
}
header > h1{
    font-size: 2rem;
    font-family: Cursive;
}
header p {
    font-size: 1rem;
}
main {
    flex: 1;
    min-height: calc(100vh - 162px);
    padding-bottom:30px;
}
aside .avatar{
    text-align: center;
    position: absolute;
    top: -100px;
    width: 100%;
}
aside .avatar img {
    width: 120px;
    height: 168px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
aside{
    width: 300px;
    border-right: 1px solid #ccc;
    position: relative;
    padding-top: 100px;
    padding-bottom:30px;
}
aside section{
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
section.info1{
    margin: -30px 10px 0 20px;
}
section.info2{
    margin: 15px 10px 0 20px;
}
section.info2 h4{
    margin-bottom: 3px;
}
section h2{
    color: #5c99ca;
    font-size: 16px;
    margin-bottom:8px;
}
.contact .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}
.contact svg {
    width: 25px;
    height: 25px;
}
:not(svg) {
    transform-origin: 0px 0px;
}
svg:not(:root) {
    overflow: hidden;
}
.contact .item span {
    margin-left: 10px;
}
.personal .item span:first-child {
    margin-top: 0.2rem;
    display: inline-block;
    width: 3.8rem;
}
.personal .item span:last-child::before {
    content: ':';
    margin-right: 10px;
}
.skills .item {
    margin-top: 0.2rem;
}
main section {
    border-bottom: 1px solid #ccc;
    margin: 15px 20px 0 18px;
    padding-bottom: 16px;
}
main section h4{
    margin-bottom:8px;
}
main section li {
    margin-left: 1rem;
}
main section p {
    text-indent: 1rem;
}
main section h4:not(:first-child){
    margin-top:15px;
}

@media only screen and  (max-width: 768px) {
    header {
      padding-top: 20px;
      padding-bottom: 90px;
    }
    header > h1{
        font-size: 1.8rem;
    }
    header p {
        font-size: 1rem;
    }
    aside {
      width: 100%;
      padding-top: 30px;
    }
    aside .avatar {
        top: -80px;
    }
    aside .avatar img {
      width: 70px;
      height: 100px;
    }
} 
.icon {
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: -0.15rem;
    fill: currentColor;
    overflow: hidden;
 }